$darkblue: #004080;
$plotblue: #336699;
$mediumblue: #7D9DBD;
$lightblue: #b2c5d8;
$superlightblue: #eef2f6;

$offwhite: #f8f9fa;

$grey: #374151;
$orange: #BA5A31;

:export {
    darkblue: $darkblue;
  }