* {
  font-family: "Inter", "Arial", "Sans Serif";
}

ul {
  margin: 0.5rem 0;
}

p,
li,
span {
  color: $grey;
  line-height: 1.5;
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

body {
  background-color: $offwhite;
  margin: 0;
}
p a,
li a {
  color: $darkblue;
  transition: all ease 0.5s;
}

p a:hover {
  color: $mediumblue;
  transition: all ease 0.5s;
}

blockquote {
  background: $superlightblue;
  border-left: 3px solid $mediumblue;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: $grey;
}

code,
code span {
  font-family: "fira code";
  font-size: 1rem;
  font-weight: 400;
}