.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0rem auto;
  padding: 0rem 2.5rem;
  box-sizing: border-box;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.skill {
margin: 0 .5rem;
}

.download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
  text-decoration: none;
  padding: 1rem;
  background-color: $superlightblue;
  border-radius: 20px;
}

.download-container:hover .icon-container {
  transform: scale(.85);
}

.download-container > p {
  margin-top: 0.25rem;
  font-size: .9rem;
  color: $grey;
}

.icon-container {
  color: $darkblue;
  font-size: 2rem;
  transition: all ease 0.5s;
}