.content-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.line {
    background: $mediumblue;
    height: 2px;
    border: none;
    width: 100%;
    margin: 0;
}

.post {
    border-bottom: 2px solid $mediumblue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;

    background-image: linear-gradient(90deg,
    $offwhite 0%,
    $offwhite 50%,
    $lightblue 50%,
    $lightblue 100%);
    background-size: 300%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63), color .2s linear;
    transition-delay: 0.0s, 0.15s;
}

.list {
  margin: 0;  
  padding: 0;
}

.post a {
    text-decoration: none;
}

.title {
    color: $darkblue;
    margin: 2rem 0 0 0;
}

.subtitle {
    color: $grey;
    font-size: 1rem;
    margin: .2rem 0 1rem 0;
}

.date {
    color: $grey;
    margin: 0 0 0 0.5rem;
}

.date-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.post:hover {
    color: white;
    cursor: pointer;
    background-position: -50% 100%;
}
