.content-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.postContainer {
    margin: 1rem .5rem;
    max-width: 1200px;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1rem 1rem;
    transition: ease all .5s;
    border-radius: 25px;
}

.image-container {
    border-radius: 25px;
    overflow: hidden;
    min-width: 240px;
    height: 120px;
}

.text-container {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 1rem;
    width: 100%;
}

.list {
  margin: 0;  
  padding: 0;
}

.link, .link:hover, .link:focus, .link:active {
    text-decoration: none;
    color: inherit;
    }

.title {
    margin: 0 0 .5rem 0;
    font-size: 1.2rem;
}

.subtitle {
    color: $grey;
    font-size: 1rem;
    margin: .2rem 0 1rem 0;
}

.date {
    color: $grey;
    margin: 0 0 0 .5rem;
    font-size: .9rem;
}

.date-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $grey;
}

.post:hover {
    background-color: #eeeeee;
}

@media screen and (max-width: 600px) {
    .post {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .image-container {
        border-radius: 25px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
    }

  }