.content-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.line {
    background: $mediumblue;
    height: 2px;
    border: none;
    width: 100%;
    margin: 0;
}

.post {
    border-bottom: 2px solid $mediumblue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem .5rem;

    transition: ease all .5s;
}

.list {
  margin: 0;  
  padding: 0;
}

.post a {
    text-decoration: none;
}

.title {
    color: $darkblue;
    margin: 0 0 0 0;
    font-size: 1.3rem;
}

.subtitle {
    color: $grey;
    font-size: 1rem;
    margin: .2rem 0 1rem 0;
}

.date {
    color: $grey;
    margin: 0 0 0 .5rem;
    font-size: .9rem;
}

.date-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.post:hover {
    background-color: $lightblue;
}
