.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 380px;
    margin: 0 2rem 0 2rem;
}

.name {
    margin:0 0 .2rem 0;
}

.title {
    margin:0 0 1rem 0;
    color: $grey;
}

.icons-container {
    display: flex;
    justify-content: flex-start;
    font-size: 1.4rem;
    align-items: center;
}

.icon {
    color: $darkblue;
    margin: 0 .5rem 0 .5rem;
    transition: all ease .5s;
}

.line-left {
    max-width: 300px;
    background: $darkblue;
    margin-right: .5rem;
    margin-left: 0;
    height: 2px;
    border: none;
    width: 100%;
}

.line-right {
    max-width: 30px;
    background: $darkblue;
    margin-right: 0rem;
    margin-left: .5rem;
    height: 2px;
    border: none;
    width: 90%;
}

.icon:hover {
    transition: all ease .5s;
    color: $mediumblue;
}