.name {
    margin:0 0 .2rem 0;
}

.title {
    margin:0 0 1rem 0;
    color: $grey;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    font-size: 1.4rem;
    align-items: center;
}

.iconFront {
    color: $darkblue;
    margin: 0 .5rem 0 .5rem;
    transition: all ease .5s;
}

.line-left {
    width: 30px;
    background: $darkblue;
    margin-right: .5rem;
    margin-left: 0;
    height: 2px;
    border: none;
}

.line-right {
    width: 300px;
    background: $darkblue;
    margin-right: 0rem;
    margin-left: .5rem;
    height: 2px;
    border: none;
}

.iconFront:hover {
    transition: all ease .5s;
    color: $orange;
}