.content-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap:wrap;
}

.project-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem;
}

.project-container:hover {
    cursor:pointer;
}

.project-container:hover .image{
    opacity: .5;
}

.project-container:hover .title{
    text-decoration: underline;
}

.image {
    margin-top: 25px;
    width: 300px;
    border-radius: 10%;
    transition: ease all .5s;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
}

.text-container h2 {
    margin: 0;
}

.description {
    text-align: center;
    color: $grey;
    margin-top: .5rem;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.icon {
    color: $grey;
    margin: 0 1rem 0 .5rem;
    transition: all ease .5s;
    font-size: 1rem;
}

.starIcon {
    color: $grey;
    margin: 0 .3rem 0 .5rem;
    transition: all ease .5s;
    font-size: 1rem;
}

.starText {
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

.icon:hover {
    transition: all ease .5s;
    color: $orange;
}