.my-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    // align-content: center;
    // width: 100%;
}

.bib-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.bib-input-header{
    margin: 0 1rem 0 1rem;
}

.bib-input{
    border: darkgrey 1px solid;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    font-size: 14px;
    text-align: center;
}

.bib-input:focus {
    border: red 1px solid !important;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    border: $darkblue 2px solid;
}

.header-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
    border: $darkblue 2px solid;
}

.athlete-name {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.3rem;
}

.athlete-flag {
    margin: 1rem 2rem 1rem 2rem;
    height: 60px;
}

.athlete-rank-container {
    margin: 1rem 2rem;
}

.athlete-rank {
    margin: 0;
    font-size: 1.5rem;
}
.athlete-rank-sub {
    margin: 0;
    font-size: 1rem;
}

.athlete-rank-prefix {
    font-size: 1.3rem;
}

.athlete-category {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.3rem;
}

.athlete-category-rank {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
}

.finish-time {
    margin-right: 2rem;
    font-size: 1.3rem;
}