.header {
    padding: 1rem 0 2rem;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: $darkblue;
    transition: all ease .5s;
}

.active-nav-item {
    color: $darkblue;
}