.logo-container {
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease all .5s;
  }
 
.logo-container:hover{
background-color: #c2d1f5;
} 

.logo {
width: 100%;
}

.text {
    margin-top: .2rem;
    font-size: .8rem;
    color: $grey;
}

.skill-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 65px;
}